<span class="hide" id="cal-slide-tick"></span>
<div id="cal-slide-content" class="cal-event-list">
	<ul class="unstyled">
		<% _.each(eventos, function(evento){ %>
			<li>
				<span class="pull-left event <%= evento.class %>"></span>
				<a href="#" data-event-id="<%= evento.id %>" data-event-class="<%= evento.class %>" class="event-item">
					 <%= date('d/m/Y H:i:s', (evento.inicio_timestamp/1000)) %> - <%= evento.titulo %>
				</a>
			</li>
		<% }) %>
	</ul>
</div>
