.appriseOverlay
{
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.3);
	display: none;
}

.appriseOuter
{
	background: #eee;
	border: 1px solid #fff;
	box-shadow: 0 3px 7px #333;
	-moz-box-shadow: 0 3px 7px #333;
	-webkit-box-shadow: 0 3px 7px #333;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-khtml-border-radius: 4px;
	z-index: 99999999;
	min-width: 500px;
	min-height: 150px;
	max-width: 75%;
	position: fixed;
	display: none;
}

.appriseInner
{
	color: #333;
	font-size: 14px;
	text-shadow: 0 1px 0 #fff;
	padding: 20px;
}

.appriseInner button
{
	border: 1px solid #bbb;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-khtml-border-radius: 3px;
	background: 0;
	color: #232d3d;
	font-size: 14px;
	font-weight: 700;
	text-shadow: 0 1px 0 #fff;
	cursor: pointer;
	box-shadow: 0 1px 2px #ccc;
	-moz-box-shadow: 0 1px 2px #ccc;
	-webkit-box-shadow: 0 1px 2px #ccc;
	margin: 0 3px;
	padding: 10px 10px 10px 10px;
	width:		100px;
	height:		40px;
}

.appriseInner button:hover
{
	padding: 10px 10px 10px 10px;
	width:100px;
	color: #d85054;
}

.aButtons,.aInput
{
	padding: 10px;
	text-align: center;
	margin: 20px 10px 0;
}

.aTextbox
{
	border: 1px solid #aaa;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-khtml-border-radius: 4px;
	box-shadow: 0 1px 0 #fff;
	-moz-box-shadow: 0 1px 0 #fff;
	-webkit-box-shadow: 0 1px 0 #fff;
	width: 100%;
	font-size: 14px;
	font-weight: 700;
	padding: 5px 10px;
}