html {
	height: auto; /* print fix */
}

body {
	font: normal 14px Tahoma, sans-serif;
	color: #000;
}

h4 {
	margin-top: 20px;	
}

table:not(.info) tbody tr:nth-child(even) {
	background-color: #eee;
}

table.info {
	font-size: 11px;
}

#info_cli {
	margin-top: 10px;
	border: 1px solid #DDD;
	border-radius: 5px;
	background-color: #EEE;
	padding: 0 10px 10px 10px;
	font-size:	12px;
	display:none;
}
#info_cli h4{
	margin: 5px 0 5px 0;
	text-decoration: underline;
}

#info_pro {
	margin-top: 10px;
	border: 1px solid #DDD;
	border-radius: 5px;
	background-color: #EEE;
	padding: 0 10px 10px 10px;
	font-size:	12px;
	display:none;
}
#info_pro h4{
	margin: 5px 0 5px 0;
	text-decoration: underline;
}

.info_cli {
	margin-top: 10px;
	border: 1px solid #DDD;
	border-radius: 5px;
	background-color: #EEE;
	padding: 0 10px 10px 10px;
	font-size:	12px;
}
.info_cli h4{
	margin: 5px 0 5px 0;
	text-decoration: underline;
}

.cx {
	border: 1px solid #ddd;
	background-color: #eee;
	padding: 0 10px 10px 10px;
	margin-top: 10px;
}

.cx h4 {
	margin-top: 10px;
}

.cx p {
	float: left;
	margin-right: 10px;
}

.cx div {
	clear: both;
}

.btn_selecionar_classe_produto {
	width: 165px;
	height: 75px;
	margin: 4px;
	float: left;
	font-size: 18px;
	padding: 3px;
	background-color: #FFF;
	border: 1px solid #DDDDDD;
}

.barra, .barra_listagem_produtos{
	font-size: 14px;
	padding-top: 5px;
	height: 40px;
	border-bottom: 1px solid #000;
	background: #126059;
	color: white;
	padding-bottom: 10px;
	font-weight: bold;
	text-shadow: 0 1px 1px #3E6790;	
}
.barra #home-link a
{
	margin-top: 	0px;
	margin-left: 	5px;
	float: 			left;
	width: 			46px;
	height: 		46px;
	background: 	url('../img/home_icon.png') no-repeat;
	background-position: 0px top;
}

.barra #home-link a:hover
{
	float: 						left;
	width: 						46px;
	height: 					46px;
	background: 				url('../img/home_icon.png') no-repeat;
	background-position: 		0px bottom;
}

.barra #voltar, .barra_listagem_produtos #voltar
{
	float: left;
}

.barra #voltar a, .barra_listagem_produtos #voltar a
{
	float: left;
	margin-left: 5px;
}

.barra #voltar-link a
{
	float: left;
	color: #FFF;
	margin-top: 3px;
	margin-left: 5px;
}
.barra #voltar-link a.notificacoes
{
	margin-top: 			0px;
	float: 					left;
	width: 					46px;
	height: 				46px;
	background: 			url('../img/aviso.png') no-repeat;
	background-position: 	0px top;
}
.barra #voltar-link a.notificacoes-ativo
{
	float: 					left;
	width: 					46px;
	height: 				46px;
	background: 			url('../img/aviso.png') no-repeat;
	background-position: 	0px bottom;
}
.empresas{
	padding:	0 4px 0 0;
	position:	absolute;
	right:		0;
}
.barra .empresas h2 {
	color: 			#FFF !important;
	font:			bold 23px "Lucida Sans", sans-serif !important;		
	border-bottom: 	none !important;
	margin-top: 	0px !important;
	text-transform: capitalize !important;
	text-shadow: 	1px 1px 1px #0000 !important;
}
.status_online{
	width: 		100%;
	height: 	15px;
	z-index: 	1;
	background-color: #126059;
	clear:		left;
	padding: 	2px 2px 2px 2px;
	text-align: right;
	position:  	fixed;
	bottom: 	0px;
	right: 		0px;
	color: 		#FFF;
}
.status_online div#representante
{
	float: left;
	margin-left: 5px;
}
.status_online div#internet
{
	float: right;
	margin-right: 5px;
}

.dashboard li{
	list-style: none;
}
.dashboard li.icone {
	background-color: #fff;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
	background-image: -webkit-linear-gradient(top, #fff, #eee);
	background-image: -moz-linear-gradient(top, #fff, #eee);
	background-image: -ms-linear-gradient(top, #fff, #eee);
	background-image: -o-linear-gradient(top, #fff, #eee);
	background-image: linear-gradient(top, #fff, #eee);
	border-radius: 3px;
	margin-top: 10px;
	margin-right: 10px;
	text-align: center;
	width: 130px;
	min-height:130px;
	float: left;
}
.dashboard li.icone:hover {
	background-color: #fff;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
	background-image: -webkit-linear-gradient(top, #fff, #eee);
	background-image: -moz-linear-gradient(top, #fff, #eee);
	background-image: -ms-linear-gradient(top, #fff, #eee);
	background-image: -o-linear-gradient(top, #fff, #eee);
	background-image: linear-gradient(top, #fff, #eee);
	border-radius: 3px;
	margin-top: 10px;
	margin-right: 10px;
	text-align: center;
	width: 130px;
	min-height:130px;
	float: left;
}
.dashboard li.icone:hover a{	
	display:block;
	width: 130px;	
	min-height:90px;
	padding-top: 30px;
	color:#666;
	float: left;
}

.dashboard li.icone a{	
	display:block;
	width: 130px;	
	min-height:90px;
	padding-top: 30px;
	float: left;
}

.dashboard li.icone span {
	display: block;
	margin-top: 5px;
}
.icone {
	background-color: #fff;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
	background-image: -webkit-linear-gradient(top, #fff, #eee);
	background-image: -moz-linear-gradient(top, #fff, #eee);
	background-image: -ms-linear-gradient(top, #fff, #eee);
	background-image: -o-linear-gradient(top, #fff, #eee);
	background-image: linear-gradient(top, #fff, #eee);
	border-radius: 3px;
	border: solid 1px #CCC;
	margin-top: 10px;
	margin-right: 10px;
	text-align: center;
	width: 130px;
	min-height:160px;
	float: left;
	-moz-box-shadow:    0px 0px 4px 1px #DEDEDE;
  	-webkit-box-shadow: 0px 0px 4px 1px #DEDEDE;
  	box-shadow:         0px 0px 4px 1px #DEDEDE;
}
.icone:hover {
	background-color: #fff;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
	background-image: -webkit-linear-gradient(top, #fff, #eee);
	background-image: -moz-linear-gradient(top, #fff, #eee);
	background-image: -ms-linear-gradient(top, #fff, #eee);
	background-image: -o-linear-gradient(top, #fff, #eee);
	background-image: linear-gradient(top, #fff, #eee);
	border-radius: 3px;
	border: solid 1px #CCC;
	margin-top: 10px;
	margin-right: 10px;
	text-align: center;
	width: 130px;
	min-height:160px;
	float: left;
	-moz-box-shadow:    0px 0px 4px 1px #DEDEDE;
  	-webkit-box-shadow: 0px 0px 4px 1px #DEDEDE;
  	box-shadow:         0px 0px 4px 1px #DEDEDE;
}
.icone a{	
	display:block;
	width: 130px;	
	min-height:160px;
	padding-top: 10px;
	float: left;
}
.icone:hover a{	
	display:block;
	width: 130px;
	color:#000;	
	min-height:160px;
	padding-top: 10px;
	float: left;
}

.icone span {
	display: block;
	margin-top: 5px;
}




input {
	padding: 2px;
}

small {
	font-size: 11px;
}

@media print {
	body, table, .novo_grid {
		font-size: 8px;
	}
	
	h2 {
		font-size: 12px;
	}
	
	h4 {
		font-size: 10px;
		margin-top: 15px;
	}
	
	table.info {
		font-size: 8px;
		margin-right: 5px;
	}
	
	table.info th, table.info td, .novo_grid thead tr th, .novo_grid tbody tr td {
		padding: 2px;
	}
	
	small {
		font-size: 8px;
	}
}

.obrigatorio{
	border: 1px solid red !important;
}

.aviso{
	color: red;
	font-style: italic;
	font-size: 11px;
}

.titulo{
	height: auto;
}

.btn_adicionar_produto_derivacao_qtd {
	display: block;
	height: 22px;
	font-size: 18px;
	text-align: center;
	margin-top: 9px;
	margin-bottom: px;
	line-height: 20px;
}

.titulo input[type=checkbox] {
	/* Double-sized Checkboxes */
	-ms-transform: scale(4); /* IE */
	-moz-transform: scale(4); /* FF */
	-webkit-transform: scale(4); /* Safari and Chrome */
	-o-transform: scale(4); /* Opera */
	margin: 0 20px 0 10px;
	display:block;
	float: left;
}

.titulo label{
	display:block;
	float: left;
}

/* Ajustes de CSS para melhorar o desempenho no uso do sistema */

input {
	border-radius: 0px !important;
}

//----------

.teste{
	border: 5px solid red !important;
}


.bs-callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
}

.bs-callout-warning, .bs-callout-warning h4  {
  border-left-color: #aa6708;
}

.bs-callout-danger, .bs-callout-danger h4  {
  border-left-color: #ce4844;
}



.bs-callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 18px;
}

.bs-callout p:last-child {
  margin-bottom: 0;
}