	input:invalid { 
	border-color: #ff0000; border-width: 2px;
}
select 
{
    -webkit-appearance: listbox;
    /*-webkit-appearance: menulist-text;*/
    min-width: 250px;
}

#data_atualizacao_estoque{
	min-width: 150px !important;
	width:150px;
	float:left; 
}

}

* {
	margin: 0;
	padding: 0;
}
.selecionado 
{ 
	background: #EF8539 !important; 
}
.clear
{
	clear: both;
}
.active
{
	z-index: 1 !important;
}
a 
{
	color: #0E847C;
	font-size:14px;
	text-decoration: none;
}
#carregando{
	display: none;
}
input[readonly]
{
	opacity: 0.5;
}

input[disabled]
{
	background-color: #c4c4c4;
}

a:hover {
	text-decoration: underline;
}

html {
	height: 100%;
}

img {
	border: none;
}

body {
	margin: 0;
	background-color: #FFF/*#DEDEDE*/;
	color: #000;
	font: normal 14px Verdana, sans-serif;
}

h1 {
	font: bold 32px Verdana, sans-serif;
	color: #FFF;
	text-shadow: 2px 2px 6px #000000;
}

h2 {
	color: #333;
	font: bold 20px "Lucida Sans", sans-serif;
	margin-top: 10px;
	border-bottom: solid 1px #DEDEDE;
}

h3 {
	font: bold 14px Verdana, sans-serif;
	margin-top: 20px;
}

input[type=password], 
input[type=text],
input[type=number], 
input[type=email], 
input[type=url], 
input[type=decimal], 
input[type=tel], 
input[type=date], 
input[type=datetime],  
textarea {
	padding: 				10px 10px 10px 10px;
	margin: 				0 0 10px 0;
	width: 					auto;
	/* 353 + 2 + 45 = 400 */
	border: 				1px solid #CCC;
	-moz-box-shadow: 		0 1px 1px #ccc inset, 0 1px 0 #fff;
	-webkit-box-shadow: 	0 1px 1px #ccc inset, 0 1px 0 #fff;
	box-shadow: 			0 1px 1px #ccc inset, 0 1px 0 #fff;
	font-weight: 			bold;
	font-size: 				18px;
	z-index: 				10;
}/*
input[type=button], input[type=submit]{
	background-color: #ffb94b;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fddb6f), to(#ffb94b));
	background-image: -webkit-linear-gradient(top, #fddb6f, #ffb94b);
	background-image: -moz-linear-gradient(top, #fddb6f, #ffb94b);
	background-image: -ms-linear-gradient(top, #fddb6f, #ffb94b);
	background-image: -o-linear-gradient(top, #fddb6f, #ffb94b);
	background-image: linear-gradient(top, #fddb6f, #ffb94b);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	-moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
	-webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
	border-width: 1px;
	height: 35px;
	border-style: solid;
	border-color: #d69e31 #e3a037 #d5982d #e3a037;
	cursor: pointer;
	font: bold 15px Arial, Helvetica;
	color: #8f5a0a;
}
input[type=button]:hover, input[type=submit]:hover{
	background-color: #ffb64b;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fddb6f), to(#ffb64b));
	background-image: -webkit-linear-gradient(top, #fddb6f, #ffb64b);
	background-image: -moz-linear-gradient(top, #fddb6f, #ffb64b);
	background-image: -ms-linear-gradient(top, #fddb6f, #ffb64b);
	background-image: -o-linear-gradient(top, #fddb6f, #ffb64b);
	background-image: linear-gradient(top, #fddb6f, #ffb64b);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	height: 35px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	-moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
	-webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
	border-width: 1px;
	border-style: solid;
	border-color: #d69e31 #e3a037 #d5982d #e3a037;
	cursor: pointer;
	font: bold 15px Arial, Helvetica;
	color: #8f5a0a;
}*/
ul#modulos-sincronizados{
	list-style-type: none;
}
ul#modulos-sincronizados li{
	border: solid 1px #DEDEDE;
	padding: 2px;
	margin: 2px;
}
/*
input[type=submit] {
	padding: 4px;
	border: 1px solid #666;
}*/

.notificacao
{
	display: 					none;
}

#logo_home{
	width: 			39px;
	height: 		40px;
	margin: 		3px 2px 0 7px;
	float: 			left;
}

#logo{
	width: 		245px;
	height:		43px;
	margin: 	0px auto;
	margin-top:	30px;
	text-align: center;
}

#logo img
{
	margin-bottom: 15px;
}

p {
	margin-top: 10px;
}

#map-container {
	overflow: hidden;
	padding: 10px;
	border: solid 1px #DEDEDE;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-top: 10px;
}
#map {
	float: left;
	width: 60%;
	height: 500px;
	margin: 0px auto;
}
#map-directions {
	float: right;
	width: 38%;
	padding-left: 2%;
}

table.tabela {
    border-collapse: collapse !important;
    margin-top: -1px;
	font-size:17px;
}

table.tabela th {
    background: #EEE url(../img/grid_2.jpg) repeat-x;
    border: 1px solid #999;
    padding: 5px;
    font-size: 10px;
    text-align: left;
    text-transform: uppercase;
	font-size:17px;
}

table.tabela td {
    border: 1px solid #999;
    padding: 5px;
	font-size:17px;
	background-color: #FFFFFF;
}

table {
	font-size: 12px;
	margin-top: 10px;
}

table.normal {
	border-collapse: collapse;
	margin-right: 10px;
	text-align: left;
}

table.normal tbody tr td {
	border: 1px solid #DDD;
	padding: 3px;
} 

table.normal thead tr th {
	background: 			#ddd url(../img/grid_3.jpg) repeat-x;
	border: 1px solid #DDD;
	font-weight: bold;
	padding: 3px;
}

table.info {
	border-collapse: collapse;
	float: left;
	font-size:17px;
	margin-right: 10px;
	text-align: left;
}

table.info td {
	border: 1px solid #DDD;
	border-left: none;
	padding: 3px;
	font-size:17px;
}

table.info th {
	border: 1px solid #DDD;
	border-right: none;
	padding: 3px;
	font-size:17px;
}

table.hnordt {
	border: 1px solid #ccc;
	border-collapse: collapse;
	font-size: 11px;
	margin-top: 10px;
}

table.hnordt thead tr th {
	background: 			#eee url(../img/grid_2.jpg) repeat-x;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
	padding: 4px;
	text-align: center;
	text-transform: uppercase;
}

table.hnordt tfoot tr td {
	background: 			#eee url(../img/grid_2.jpg) repeat-x;
	border-right: 1px solid #ccc;
	border-top: 1px solid #ccc;
	font-weight: bold;
	padding: 4px;
}

table.hnordt tbody tr td {
	padding: 4px;
}

table.hnordt tbody tr:last-child td a.hnordt_mudar_de_pagina {
	background-color: #eee;
	border: 1px solid #ddd;
	margin: 5px 0;
	padding: 1px 2px;
}

table.hnordt tbody tr:last-child td a.ativo {
	background-color: #fff;
}

ul {
	list-style: disc inside;
	margin-top: 10px; 
}

ul li {
	margin: 5px 0 0 5px;
}
.aviso-msg {
	color: #FF0000;
	font-size: 12px;
}
.aviso {
	color: #FF9900;
	border: 2px solid #FFCC00;
	padding: 10px;
	font-size: 18px;
}
label.aviso {
	color: #FF9900;
	border: 2px solid #FF9900;
	padding: 0px;
	font-size: 18px;
}

.erro {
	color: #900;
	border: 2px solid #900;
	padding: 10px;
}
label.erro {
	color: #900;
	border: 2px solid #900;
	padding: 0px;
}

.sucesso {
	color: #060;
	border: 2px solid #060;
	padding: 10px;
}

.exibir_somente_impressao {
	display: none;
}

.navegacao {
	clear:both;
	background: #eee url(../img/navegacao_1.jpg) repeat-x;
	border: 1px solid #DDD;
	padding: 0 10px 10px 10px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-box-shadow: 0 0 10px #EEE;

}

.caixa {
	float: left;
	font-size: 15px;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 10px;
}

.caixa_b {
	background: #eee url(../img/grid_2.jpg) repeat-x;
	border: 1px solid #DDD;
	float: right;
	margin-top: 20px;
	margin-top: 20px;
	padding: 0 10px 10px 10px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	width: 300px;
}

.caixa ul {
	margin: 0;
	list-style: none;
}

.caixa ul li {
	margin: 0;
	float: left;
	margin-left: 10px;
	margin-top: 5px;
}

.caixa_icones {
	background: #EEE;
	float: right;
	margin-top: 10px;
	padding: 5px 15px 15px 15px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.caixa_icones ul {
	list-style: none;
	margin: 0;
}

.caixa_icones ul li {
	margin: 0;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	padding: 0 0 17px 37px;
	float: right;
}

.ajuda {
	background: #E5F5FA url(../img/info_16x16.png) 10px 10px no-repeat;
	border: 1px solid #069;
	color: #069;
	font-size: 14px;
	margin-top: 10px;
	padding: 0 10px 10px 33px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.atencao {
	background: #FFDDDD;
	border: 1px solid #A00;
	color: #000;
	font-size: 11px;
	margin-top: 20px;
	padding: 10px 10px 10px 10px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	display:none;
	height:35px;
	
}

.atencao .pedidos, .atencao .pendencias, .atencao .compromissos {
	background: #FFDDDD url(../img/warning.png) 0px no-repeat;
	float: left;
	padding: 10px 10px 10px 30px;
	width: 30%;
	display:none;
}

.botao_a {
	background: #060 url(../img/botao_a.jpg) repeat-x;
	border: 2px solid #060;
	color: #FFF !important;
	float: left;
	margin-right: 10px;
	

	padding: 			15px 30px 15px 30px;
	
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}



.botao_b {
	background: #f60 url(../img/botao_b.jpg) repeat-x;
	border: 2px solid #F60;
	color: #FFF !important;
	float: left;
	margin-right: 10px;
	
	padding: 			15px 30px 15px 30px;
	
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.botao_c_grid {
	background: #900 url(../img/botao_c.jpg) repeat-x;
	border: 2px solid #900;
	color: #FFF !important;
	margin-right: 10px;
	
	padding: 			15px 15px 15px 15px;
	display: 			block;
	width: 				80px;
	text-align: 		center;
		
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.botao_c {
	background: #900 url(../img/botao_c.jpg) repeat-x;
	border: 2px solid #900;
	color: #FFF !important;
	float: left;
	margin-right: 10px;
	
	padding: 			15px 30px 15px 30px;
	
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.botao_d {
	background: #069 url(../img/botao_d.jpg) repeat-x;
	border: 2px solid #069;
	color: #FFF !important;
	float: left;
	margin-right: 10px;
	
	padding: 			15px 30px 15px 30px;
		
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.botao_e {
	background: 	#069;
	border: 		2px solid #069;
	color: 			#FFF;
	float: 			left;
	margin-right: 	10px;
	padding: 		5px;
}

#geral {
	margin: 0 auto;
	height: 100%;
}

#informacoes_gerais {
	color: #FFF;
	float: right;
	margin: 0;
	text-align: right;
}
#informacoes_gerais span{
	font-size:12px;
	
	color:#fff;
}
#informacoes_gerais img{
	height:30px;
	vertical-align:middle;
}

#informacoes_dia{
	color:#fff;	
}

#navegacao {
	width: 					100%;
	height: 				78px;
	background: 			#eee url(../img/navegacao_1.jpg) repeat-x;
	font-size:				11px;
	border-bottom: 			1px solid #DEDEDE;
	border-top: 			1px solid #DEDEDE;
}

#navegacao ul {
	list-style: none;
	margin: 0;
	
}

#navegacao ul li {
	background: #ddd url(../img/navegacao_2.jpg) repeat-x;
	border-left: 1px solid #FFF;
	border-right: 1px solid #DDD;
	float: left;
	margin: 0;
	
	
}

#navegacao ul li:first-child {
	border-left: none;
	
}

#navegacao ul li:hover {
	background: #fff url(../img/navegacao_3.jpg) repeat-x;
}

#navegacao ul li.ativo {
	background: #fff url(../img/navegacao_3.jpg) repeat-x;
}

#navegacao ul li a {
	color: #000;
	display: block;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	
}

#navegacao ul li img {
	margin-bottom: 5px;
	
}

#navegacao ul li ul {
	border-bottom: 1px solid #000;
	position: absolute;
	z-index: 999;
	display: none;
	
}

#navegacao ul li ul li {
	background: #333 url(../img/subnavegacao_1.jpg) repeat-x;
	border: 1px solid #000;
	border-bottom: none;
	clear: both;
	width: 250px;
	
}

#navegacao ul li ul li:first-child {
	border-left: 1px solid #000;
}

#navegacao ul li ul li:hover {
	background: #666 url(../img/subnavegacao_2.jpg) repeat-x;
}

#navegacao ul li ul li a {
	color: #FFF;
	padding: 8px;
	text-align: left;
}

.alertas {
	color: #FFF;
	font-size: 11px;
	margin-top: 10px;
	height:35px;
}

.alertas a {
	color: #FF0;
}

.alertas p {
	margin-top: 5px;
}

.alertas .pedidos, .alertas .pendencias, .alertas .compromissos {
	float: left;
	width: 33%;
	
}

.alertas .pedidos {
	width: 34%;
}

.alertas .pedidos .conteudo, .alertas .pendencias .conteudo, .alertas .compromissos .conteudo {
	background: #900 url(../img/alertas.jpg) repeat-x;
	overflow: hidden;
	padding: 5px 10px 10px 10px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-box-shadow: 2px 2px 6px #000;
}

.alertas .pedidos .conteudo, .alertas .pendencias .conteudo {
	margin-right: 10px;
}

#conteudo 
{
	background-color: #FFF;
	padding-top: 1px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	height: 100%;
	min-height: 400px;
}

#rodape {
	font-size: 11px;
	margin-top:0px;
	bottom: -1px;
	height: 100px;
	overflow: hidden;
	border-top: double 1px #CCC;
	color: #0E847C;
	text-align:center;
	padding-top:20px;
	font-weight: bold;	
}

/*LOGIN*/
#conteudo-login {
	min-height: 400px;
	height: 100%;
	overflow: hidden;
}
#rodape-login {
	font-size: 11px;
	margin-top:0px;
	bottom: -1px;
	height: 100px;
	overflow: hidden;
	border-top: double 1px #CCC;
	color: #666;
	text-align:center;
	padding-top:20px;
	font-weight: bold;	
}
.body-login
{
	font: 12px 'Lucida Sans Unicode', 'Trebuchet MS', Arial, Helvetica;    
	margin: 0;
	background-color: #d9dee2;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ebeef2), to(#d9dee2));
	background-image: -webkit-linear-gradient(top, #ebeef2, #d9dee2);
	background-image: -moz-linear-gradient(top, #ebeef2, #d9dee2);
	background-image: -ms-linear-gradient(top, #ebeef2, #d9dee2);
	background-image: -o-linear-gradient(top, #ebeef2, #d9dee2);
	background-image: linear-gradient(top, #ebeef2, #d9dee2);    
}

.autenticar {
	background-color: #fff;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
	background-image: -webkit-linear-gradient(top, #fff, #eee);
	background-image: -moz-linear-gradient(top, #fff, #eee);
	background-image: -ms-linear-gradient(top, #fff, #eee);
	background-image: -o-linear-gradient(top, #fff, #eee);
	background-image: linear-gradient(top, #fff, #eee);
	height: 300px;
	width: 400px;
	padding: 30px;
	position: relative;
	z-index: 0;
	margin: 20px auto;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, .2), 0 3px 0 #fff, 0 4px 0 rgba(0, 0, 0, .2), 0 6px 0 #fff, 0 7px 0 rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 1px 1px 0 rgba(0, 0, 0, .1), 3px 3px 0 rgba(255, 255, 255, 1), 4px 4px 0 rgba(0, 0, 0, .1), 6px 6px 0 rgba(255, 255, 255, 1), 7px 7px 0 rgba(0, 0, 0, .1);
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, .2), 0 3px 0 #fff, 0 4px 0 rgba(0, 0, 0, .2), 0 6px 0 #fff, 0 7px 0 rgba(0, 0, 0, .2);
}
.autenticar:before {
	content:'';
	position: relative;
	z-index: -1;
	border: 1px dashed #ccc;
	-moz-box-shadow: 0 0 0 1px #fff;
	-webkit-box-shadow: 0 0 0 1px #fff;
	box-shadow: 0 0 0 1px #fff;
}
/*--------------------*/
.autenticar h1 {
	text-shadow: 0 1px 0 rgba(255, 255, 255, .7), 0px 1px 0 rgba(0, 0, 0, .5);
	text-transform: uppercase;
	text-align: center;
	color: #666;
	margin: 0 0 20px 0;
	letter-spacing: 2px;
	font: normal 20px/1 Verdana, Helvetica;
	position: relative;
}
.autenticar h1:after, h1:before {
	background-color: #777;
	content:"";
	height: 1px;
	position: absolute;
	top: 15px;
	width: 100px;
}
.autenticar h1:after {
	background-image: -webkit-gradient(linear, left top, right top, from(#777), to(#fff));
	background-image: -webkit-linear-gradient(left, #777, #fff);
	background-image: -moz-linear-gradient(left, #777, #fff);
	background-image: -ms-linear-gradient(left, #777, #fff);
	background-image: -o-linear-gradient(left, #777, #fff);
	background-image: linear-gradient(left, #777, #fff);
	right: 0;
}
.autenticar h1:before {
	background-image: -webkit-gradient(linear, right top, left top, from(#777), to(#fff));
	background-image: -webkit-linear-gradient(right, #777, #fff);
	background-image: -moz-linear-gradient(right, #777, #fff);
	background-image: -ms-linear-gradient(right, #777, #fff);
	background-image: -o-linear-gradient(right, #777, #fff);
	background-image: linear-gradient(right, #777, #fff);
	left: 0;
}
/*--------------------*/
.autenticar fieldset {
	border: 0;
	padding: 0;
	margin: 0;
}
/*--------------------*/
.autenticar #inputs input {
	background: #f1f1f1 url(../img/login-sprite.png) no-repeat;
	padding: 15px 15px 15px 30px;
	margin: 0 0 10px 0;
	width: 353px;
	/* 353 + 2 + 45 = 400 */
	border: 1px solid #ccc;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
	-webkit-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
	box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
}
.autenticar #username {
	background-position: 5px -2px !important;
}
.autenticar #password {
	background-position: 5px -52px !important;
}
.autenticar #inputs input:focus {
	background-color: #fff;
	border-color: #e8c291;
	outline: none;
	-moz-box-shadow: 0 0 0 1px #e8c291 inset;
	-webkit-box-shadow: 0 0 0 1px #e8c291 inset;
	box-shadow: 0 0 0 1px #e8c291 inset;
}
/*--------------------*/
.autenticar #actions {
	margin: 25px 0 0 0;
}
.autenticar #submit {
	background-color: #ffb94b;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fddb6f), to(#ffb94b));
	background-image: -webkit-linear-gradient(top, #fddb6f, #ffb94b);
	background-image: -moz-linear-gradient(top, #fddb6f, #ffb94b);
	background-image: -ms-linear-gradient(top, #fddb6f, #ffb94b);
	background-image: -o-linear-gradient(top, #fddb6f, #ffb94b);
	background-image: linear-gradient(top, #fddb6f, #ffb94b);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	-moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
	-webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
	border-width: 1px;
	border-style: solid;
	border-color: #d69e31 #e3a037 #d5982d #e3a037;
	float: left;
	height: 35px;
	padding: 0;
	width: 120px;
	cursor: pointer;
	font: bold 15px Arial, Helvetica;
	color: #8f5a0a;
}
.autenticar #submit:hover, #submit:focus {
	background-color: #fddb6f;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffb94b), to(#fddb6f));
	background-image: -webkit-linear-gradient(top, #ffb94b, #fddb6f);
	background-image: -moz-linear-gradient(top, #ffb94b, #fddb6f);
	background-image: -ms-linear-gradient(top, #ffb94b, #fddb6f);
	background-image: -o-linear-gradient(top, #ffb94b, #fddb6f);
	background-image: linear-gradient(top, #ffb94b, #fddb6f);
}
.autenticar #submit:active {
	outline: none;
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
}
.autenticar #submit::-moz-focus-inner {
	border: none;
}
.autenticar #actions a {
	color: #3151A2;
	float: right;
	line-height: 35px;
	margin-left: 10px;
}
/*--------------------*/
.autenticar #back {
	display: block;
	text-align: center;
	position: relative;
	top: 60px;
	color: #999;
}
/*LOGIN*/

.topo_grid
{
	border-top: 			1px solid #aaaaaa;
	border-left: 			1px solid #aaaaaa;
	border-right: 			1px solid #aaaaaa;
	padding:				10px;
	background-color: #fff;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
	background-image: -webkit-linear-gradient(top, #fff, #eee);
	background-image: -moz-linear-gradient(top, #fff, #eee);
	background-image: -ms-linear-gradient(top, #fff, #eee);
	background-image: -o-linear-gradient(top, #fff, #eee);
	background-image: linear-gradient(top, #fff, #eee);
	margin-top:				10px;
}
.novo_grid {
	border-collapse: 		collapse;
	font-size: 				17px;
	margin:					0;
	padding:				0;
	width:					100%;
}

.novo_grid  a{
	font-size: 				17px;
}

.novo_grid thead tr th{
	padding:				5px;
	color:					#404040;
	font-size: 				14px;
	background-color: #fff;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
	background-image: -webkit-linear-gradient(top, #fff, #eee);
	background-image: -moz-linear-gradient(top, #fff, #eee);
	background-image: -ms-linear-gradient(top, #fff, #eee);
	background-image: -o-linear-gradient(top, #fff, #eee);
	background-image: linear-gradient(top, #fff, #eee);
	text-align: 			center;
	text-transform: 		uppercase;
	border: 				1px solid #aaaaaa;
	
	
}
.novo_grid thead tr th a{
	font-size: 				14px;
}

.novo_grid tbody tr td{
	padding:				5px;	
	border-bottom: 			1px solid #aaaaaa;
	border-right: 			1px solid #aaaaaa;
	border-left: 			1px solid #aaaaaa;
	color:					#000000;
}

.novo_grid_rodape td{
	padding:				5px;
	color:					#404040;
	font-size: 				18px;
	background-color: #fff;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
	background-image: -webkit-linear-gradient(top, #fff, #eee);
	background-image: -moz-linear-gradient(top, #fff, #eee);
	background-image: -ms-linear-gradient(top, #fff, #eee);
	background-image: -o-linear-gradient(top, #fff, #eee);
	background-image: linear-gradient(top, #fff, #eee);
	text-transform: 		uppercase;
	border: 				1px solid #aaaaaa;
	font-weight:			bold;
}

.rodape_grid
{
	border-bottom: 			1px solid #aaaaaa;
	border-left: 			1px solid #aaaaaa;
	border-right: 			1px solid #aaaaaa;
	padding:				10px;
	background-color: #fff;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
	background-image: -webkit-linear-gradient(top, #fff, #eee);
	background-image: -moz-linear-gradient(top, #fff, #eee);
	background-image: -ms-linear-gradient(top, #fff, #eee);
	background-image: -o-linear-gradient(top, #fff, #eee);
	background-image: linear-gradient(top, #fff, #eee);
	text-align:				center;
	font-size:				17px;
}
#paginacao a
{
	font-size:				17px;
	padding:				5px;
	margin:					5px;
}
#caixa_dialogo{
	border: 3px ridge #bbb;
	background-color: #e5e5e5;
	text-align:left;
	overflow: scroll;
	height:200px;
	padding-left:15px;
	padding-right:15px;
	
}

#mensagem{
	text-align:left;
	border:1px solid #ddd;
	padding: 10px 10px 10px 10px; 
		
}

#mensagem textarea{
	width:90%;
}

#caixa_dialogo div{
	background-color: #f6f6f6;
	padding: 0px 5px 5px 5px;
}
#mensagem{
	background-color: #f3f3f3;
	width:99%;
}
td.center{
	text-align:center;
}
td.right{
	text-align:right;
}
#mapa{
	width:100%;
}

#bem_vindo{
	margin-top: 5px; 
	padding-left: 10px; 
	text-align: left;
}


/* white 
input[type=button], input[type=submit] {
	color: #000;
	font-size: 14px;
	border: solid 1px #666;
	padding: 7px 15px 7px 15px;
	background: #fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
	background: -moz-linear-gradient(top,  #fff,  #ededed);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
}
input[type=button]:hover, input[type=submit]:hover {
	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc));
	background: -moz-linear-gradient(top,  #fff,  #dcdcdc);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc');
}
input[type=button]:active, input[type=submit]:active {
	color: #999;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#fff));
	background: -moz-linear-gradient(top,  #ededed,  #fff);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff');
}
*/

.novo_grid_rodape {
	border-collapse: 		collapse;
	font-size: 				17px;
	margin:					0;
	padding:				0;
	width:					100%;
}

.novo_grid_rodape  a{
	font-size: 				17px;
}

.novo_grid_rodape thead tr th{
	padding:				5px;
	color:					#404040;
	font-size: 				14px;
	background: 			#eee url(../img/grid_2.jpg) repeat-x;
	text-align: 			center;
	text-transform: 		uppercase;
	border: 				1px solid #aaaaaa;
}
.novo_grid_rodape thead tr th a{
	font-size: 				14px;
}

.novo_grid_rodape tbody tr td{
	padding:				5px;	
	border-bottom: 			1px solid #aaaaaa;
	border-right: 			1px solid #aaaaaa;
	border-left: 			1px solid #aaaaaa;
	color:					#000000;
}


/* ------------------------------------------------------
 *
 * Modulos
 *
 * ------------------------------------------------------
 */
#sincronizar
{
	width:			100%;
	margin:			0px auto;	
}
#sincronizar .ferramenta
{
	width:			100%;
	min-height:		50px; 	
	border: 		1px solid #dddddd; 
	background: 	#ffffff url(custom-theme/images/ui-bg_flat_75_ffffff_40x100.png) 50% 50% repeat-x; 
	color: 			#444444;
	margin-top:		10px;
	-moz-box-shadow:    0px 0px 4px 1px #DEDEDE;
  	-webkit-box-shadow: 0px 0px 4px 1px #DEDEDE;
  	box-shadow:         0px 0px 4px 1px #DEDEDE;
}
#sincronizar .ferramenta .titulo
{
	cursor: 		pointer; 
	zoom: 			1;
	border-bottom:	1px solid #dddddd; 
	background: 	#f6f6f6 url(custom-theme/images/ui-bg_highlight-soft_100_f6f6f6_1x100.png) 50% 50% repeat-x; 
	font-weight: 	bold; 
	color: 			#FFF; 	
	background-image: -webkit-gradient(linear,left top,left bottom,from(#13A69C),to(#0E847C));
	background-image: -webkit-linear-gradient(#13A69C,#0E847C);
	background-image: -moz-linear-gradient(#13A69C,#0E847C);
	background-image: -ms-linear-gradient(#13A69C,#0E847C);
	background-image: -o-linear-gradient(#13A69C,#0E847C);
	background-image: linear-gradient(#13A69C,#0E847C);
}
#sincronizar .ferramenta .titulo span
{
	display: 		block; 
	font-size: 		1em; 
	padding: 		.5em .5em .5em .7em;
	outline: 		none;
	width:			600px;		
	color: 			#FFF; 	
}
#sincronizar .ferramenta .conteudo
{
	padding: 		1em 1em; 
	border-top: 	0; 
	margin-top: 	-2px; 
	position: 		relative; 
	top: 			1px; 
	margin-bottom: 	2px; 
	overflow: 		auto; 
	zoom: 			1;
}
#modulo
{
	width:			100%;
	min-height:		50px; 	
	border: 		1px solid #dddddd; 
	background: 	#ffffff url(custom-theme/images/ui-bg_flat_75_ffffff_40x100.png) 50% 50% repeat-x; 
	color: 			#444444;
	margin-top:		10px;
	-moz-box-shadow:    0px 0px 4px 1px #DEDEDE;
  	-webkit-box-shadow: 0px 0px 4px 1px #DEDEDE;
  	box-shadow:         0px 0px 4px 1px #DEDEDE;
}
#modulo .titulo
{
	cursor: 		pointer; 
	zoom: 			1;
	border-bottom:	1px solid #dddddd; 
	background: 	#f6f6f6 url(custom-theme/images/ui-bg_highlight-soft_100_f6f6f6_1x100.png) 50% 50% repeat-x; 
	font-weight: 	bold; 
	color: 			#FFF; 
	padding:		20px .5em 20px .7em;	
	background-image: -webkit-gradient(linear,left top,left bottom,from(#6FACD5),to(#497BAE));
	background-image: -webkit-linear-gradient(#6FACD5,#497BAE);
	background-image: -moz-linear-gradient(#6FACD5,#497BAE);
	background-image: -ms-linear-gradient(#6FACD5,#497BAE);
	background-image: -o-linear-gradient(#6FACD5,#497BAE);
	background-image: linear-gradient(#6FACD5,#497BAE);
}

#modulo .titulo label
{
	font-size:  20px;	
}

#modulo .titulo.prospects
{
	background-image: -webkit-gradient(linear,left top,left bottom,from(#FAD052),to(#D6A40D));
	background-image: -webkit-linear-gradient(#FAD052,#D6A40D);
	background-image: -moz-linear-gradient(#FAD052,#D6A40D);
	background-image: -ms-linear-gradient(#FAD052,#D6A40D);
	background-image: -o-linear-gradient(#FAD052,#D6A40D);
	background-image: linear-gradient(#FAD052,#D6A40D);
}
#modulo .titulo.pedidos
{
	background-image: -webkit-gradient(linear,left top,left bottom,from(#AFE322 ),to(#65A31F));
	background-image: -webkit-linear-gradient(#AFE322 ,#65A31F);
	background-image: -moz-linear-gradient(#AFE322 ,#65A31F);
	background-image: -ms-linear-gradient(#AFE322 ,#65A31F);
	background-image: -o-linear-gradient(#AFE322 ,#65A31F);
	background-image: linear-gradient(#AFE322 ,#65A31F);
}
#modulo .titulo.importante
{
	background-image: -webkit-gradient(linear,left top,left bottom,from(#F55D16),to(#E34822));
	background-image: -webkit-linear-gradient(#F55D16,#E34822);
	background-image: -moz-linear-gradient(#F55D16,#E34822);
	background-image: -ms-linear-gradient(#F55D16,#E34822);
	background-image: -o-linear-gradient(#F55D16,#E34822);
	background-image: linear-gradient(#F55D16,#E34822);
}
#modulo .titulo.mod_obrigatorio
{
	background-image: -webkit-gradient(linear,left top,left bottom,from(#FAD052),to(#D6A40D));
	background-image: -webkit-linear-gradient(#FAD052,#D6A40D);
	background-image: -moz-linear-gradient(#FAD052,#D6A40D);
	background-image: -ms-linear-gradient(#FAD052,#D6A40D);
	background-image: -o-linear-gradient(#FAD052,#D6A40D);
	background-image: linear-gradient(#FAD052,#D6A40D);
}

#modulo .titulo.produtos
{
	background-image: -webkit-gradient(linear,left top,left bottom,from(#F5280C),to(#8F0A0A));
	background-image: -webkit-linear-gradient(#F5280C,#8F0A0A);
	background-image: -moz-linear-gradient(#F5280C,#8F0A0A);
	background-image: -ms-linear-gradient(#F5280C,#8F0A0A);
	background-image: -o-linear-gradient(#F5280C,#8F0A0A);
	background-image: linear-gradient(#F5280C,#8F0A0A);
}

#modulo .titulo span
{
	width:			20px;
	float:			left;
	color: 			#FFF; 	
}
#modulo .titulo a
{
	display: 		block; 
	font-size: 		1em; 
	padding: 		.5em .5em .5em .7em;
	outline: 		none;
	width:			600px;		
	color: 			#FFF; 	
}
#modulo .conteudo
{
	padding: 		1em 2.2em; 
	border-top: 	0; 
	margin-top: 	-2px; 
	position: 		relative; 
	top: 			1px; 
	margin-bottom: 	2px; 
	overflow: 		auto; 
	zoom: 			1;
}
#modulo .conteudo ul
{
	margin:			0px;
	padding:		0px;
}
#modulo .conteudo ul li
{
	min-height:			21px;
	list-style-type: 	none;
}
#modulo .conteudo ul li label
{
	width: 				100%;
	text-align: 		left;	
}

/* iPad portrait */
@media only screen and (min-width: 769px) {

#info_cli{
	float: left;
}


#info_pro{
	float: left;
}

}

/* Small browser / iPad landscape */
@media only screen and (min-width: 1025px) {
#info_cli{
	position: absolute;
	top: 40px;
	right: 10px;
}

#info_pro{
	position: absolute;
	top: 40px;
	right: 10px;
}

}
select {
	
	width: auto;
	/* 353 + 2 + 45 = 400 */
	border: 1px solid #CCC;
	background: #FFF url("../img/seta.png") no-repeat right center;
	-moz-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
	-webkit-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
	box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
	font-weight: bold;
	font-size: 20px;
	text-transform: uppercase;
	height: 40px;
}

@media screen and (max-width: 1280px) {

    .dashboard{
		width: 800px;
		margin: 0px auto;
	}

}
@media screen and (max-width: 800px) {

   .dashboard{
		width: 500px;
		margin: 0px auto;
	}

}
@media screen and (max-width: 480px) {

    .dashboard{
		width: 295px;
		margin: 0px auto;
	}

}

/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media screen and (min-width: 800px) {
   table.tabela tr.hideHeader { border: 1px solid #ccc; display:''; }
}

/*@media only screen and (max-width: 760px),(min-device-width: 768px) and (max-device-width: 1024px)  {*/
@media only screen and (max-width: 1024px) {
	
	
	#mennota 
	{
		width: 100%;	
	}
	
	#mennota textarea
	{
		width: 100% !important;	
		padding-left: 0px;
		padding-right: 0px;
	}
	
	select[name=tipo_frete]
	{
		margin-bottom: 10px;
	}
	
	.topo_grid p
	{
		width:  				100%;
		float: 					left; 
		margin-right: 			10px; 
	}
	.topo_grid p input[type=text], input[type=tel], select
	{
		width:  				100%;
		padding-left: 			0px;
		padding-right: 			0px;
	}
	.topo_grid p input.datepicker
	{
		width:  				200px;
		padding-left: 			0px;
		padding-right: 			0px;
	}	
		
	/* Force table to not be like tables anymore */
	table.novo_grid, table.novo_grid thead, table.novo_grid tbody, table.novo_grid th, table.novo_grid td, table.novo_grid tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	table.novo_grid thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	table.novo_grid tr { border: 1px solid #ccc; }
	
	table.novo_grid td { 
		/* Behave  like a "row" */
		border: none;
		text-align: left;
		border-bottom: 1px solid #DEDEDE !important; 
		position: relative;
		padding-left: 50% !important; 
		text-transform: uppercase;
	}
	
	table.novo_grid td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		text-align: left;
		top: 6px;
		left: 6px;
		font-size: 12px;
		width: 45%; 
		text-transform: uppercase;
		font-weight: bold;
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	/*
	Label the data
	*/
	table.novo_grid td:before { content: attr(data-content); }
	
	
	/* Force table to not be like tables anymore */
	table.tabela, table.tabela thead, table.tabela tbody, table.tabela th, table.tabela td, table.tabela tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	table.tabela thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	table.tabela tr { border: 1px solid #ccc; }
	table.tabela tr.hideHeader { border: 1px solid #ccc; display:none; }
	
	table.tabela td { 
		/* Behave  like a "row" */
		border: none;
		text-align: left;
		border-bottom: 1px solid #DEDEDE !important; 
		position: relative;
		padding-left: 50% !important; 
		text-transform: uppercase;
	}
	
	table.tabela td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		text-align: left;
		top: 6px;
		left: 6px;
		font-size: 12px;
		width: 60%; 
		text-transform: uppercase;
		font-weight: bold;
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	/*
	Label the data
	*/
	table.tabela td:before { content: attr(data-content); }
	
	
	.novo_grid_rodape td
	{
		padding:				5px;
		color:					#404040;
		font-size: 				18px;
		background: 			#F2f2f2 !important;
		text-transform: 		uppercase;
		border: 				none !important;
		font-weight:			none !important;
	}
	
	.novo_grid_rodape td:first-child
	{
		padding-left: 5px !important;
	}	
}

/*
 * The important stuffs. The ones that you should copy-paste and use.
 */
#paginacao {
  text-align: center;
}
#paginacao ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
#paginacao li {
  display: inline;
}
#paginacao a {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
  margin: 1px 2px;
  padding: 5px 10px;
  display: inline-block;
  border-top: 1px solid #fff;
  text-decoration: none !important;
  color: #0E847C !important;
  font-size: smaller !important;
  font-family: "Helvetica Neueu", Helvetica, Arial, sans-serif;
  text-shadow: white 0 1px 0;
  background-color: #f5f5f5;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#eaeaea));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #f9f9f9, #eaeaea);
  /* Chrome 10+, Saf5.1+ */
  background-image: -moz-linear-gradient(top, #f9f9f9, #eaeaea);
  /* FF3.6 */
  background-image: -ms-linear-gradient(top, #f9f9f9, #eaeaea);
  /* IE10 */
  background-image: -o-linear-gradient(top, #f9f9f9, #eaeaea);
  /* Opera 11.10+ */
  background-image: linear-gradient(top, #f9f9f9, #eaeaea);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f9f9f9', EndColorStr='#eaeaea');
  /* IE6â€“IE9 */
}
#paginacao a:first-child, #paginacao a.first {
  margin-left: 0;
}
#paginacao a:last-child, #paginacao a.last {
  margin-right: 0;
}
#paginacao a:hover, #paginacao a:focus {
  border-color: #fff;
  background-color: #fdfdfd;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#fafafa));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #fefefe, #fafafa);
  /* Chrome 10+, Saf5.1+ */
  background-image: -moz-linear-gradient(top, #fefefe, #fafafa);
  /* FF3.6 */
  background-image: -ms-linear-gradient(top, #fefefe, #fafafa);
  /* IE10 */
  background-image: -o-linear-gradient(top, #fefefe, #fafafa);
  /* Opera 11.10+ */
  background-image: linear-gradient(top, #fefefe, #fafafa);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fefefe', EndColorStr='#fafafa');
  /* IE6â€“IE9 */
}
#paginacao a.more {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  border: 0 none !important;
  background: transparent !important;
  margin-left: 0;
  margin-right: 0;
}
#paginacao a.active {
  -moz-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.75);
  -o-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.75);
  box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.75);
  border-color: #505050 !important;
  color: #f2f2f2 !important;
  text-shadow: black 0 1px 0;
  background-color: #676767;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5f5f5f), to(#5c5c5c));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #5f5f5f, #5c5c5c);
  /* Chrome 10+, Saf5.1+ */
  background-image: -moz-linear-gradient(top, #5f5f5f, #5c5c5c);
  /* FF3.6 */
  background-image: -ms-linear-gradient(top, #5f5f5f, #5c5c5c);
  /* IE10 */
  background-image: -o-linear-gradient(top, #5f5f5f, #5c5c5c);
  /* Opera 11.10+ */
  background-image: linear-gradient(top, #5f5f5f, #5c5c5c);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#5f5f5f', EndColorStr='#5c5c5c');
  /* IE6â€“IE9 */
}

#novo_historico input[type=text]
{
	width:  		100%;
	padding-left: 	0px;
	padding-right: 	0px;
}
#novo_historico textarea
{
	width:  		100%;
	padding-left: 	0px;
	padding-right: 	0px;
}
#add-produtos
{
	background-color: #F7F7F7; 
	padding: 10px; 
	margin: 15px 0 0 0; 
	border: 1px solid #DDDDDD;
}
#add-produtos input[id=auto-produto]
{
	width:  		100% !important;
	padding-left: 	0px;
	padding-right: 	0px;
}
#outras_informacoes input[id=auto-transportadora]
{
	width:  		100% !important;
	padding-left: 	0px;
	padding-right: 	0px;
}

/*------------------------------------------------------------*/
.message
{
		-webkit-background-size: 40px 40px;
		-moz-background-size: 40px 40px;
		background-size: 40px 40px;			
		background-image: -webkit-gradient(linear, left top, right bottom,
								color-stop(.25, rgba(255, 255, 255, .05)), color-stop(.25, transparent),
								color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .05)),
								color-stop(.75, rgba(255, 255, 255, .05)), color-stop(.75, transparent),
								to(transparent));
		background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
							transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
							transparent 75%, transparent);
		background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
							transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
							transparent 75%, transparent);
		background-image: -ms-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
							transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
							transparent 75%, transparent);
		background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
							transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
							transparent 75%, transparent);
		background-image: linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
							transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
							transparent 75%, transparent);
								
		 -moz-box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
		 -webkit-box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);		
		 box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
		 border: 1px solid;
		 color: #fff;
		 padding: 10px;
		 text-shadow: 0 1px 0 rgba(0,0,0,.5);
		 -webkit-animation: animate-bg 5s linear infinite;
		 -moz-animation: animate-bg 5s linear infinite;
}

div.info
{
		 background-color: #4ea5cd;
		 border-color: #3b8eb5;
}

div.error
{
		 background-color: #de4343;
		 border-color: #c43d3d;
}
		 
div.warning
{
		 background-color: #eaaf51;
		 border-color: #d99a36;
		 color: #FFF !important;
}

div.success
{
		 background-color: #61b832;
		 border-color: #55a12c;
}

div.message h3
{
		 margin: 0 0 5px 0;													 
}

div.message p
{
		 margin: 0;													 
}

.warning a, .error a, .info  a{
	font-weight: 		bold;
	text-decoration:	underline;
	color: #FFF !important;
}

@-webkit-keyframes animate-bg
{
    from {
        background-position: 0 0;
    }
    to {
       background-position: -80px 0;
    }
}


@-moz-keyframes animate-bg 
{
    from {
        background-position: 0 0;
    }
    to {
       background-position: -80px 0;
    }
}
/*------------------------------------------------------------*/

.no-close .ui-dialog-titlebar-close 
{
	display: none;
}
.class_info 
{
    color: #FF0000;
    font-size: 10px;
    font-style: italic;
    padding-left: 0;
    padding-right: 5px;
}
.ui-dialog
{
	-moz-box-shadow: 		0px 2px 10px 	#000;
	-webkit-box-shadow: 	0px 2px 10px 	#000;
	box-shadow: 			0px 2px 10px 	#000;
	border: 				solid 3px 		#000;
}
.ui-dialog-content
{
	font-size: 				18px !important;
}
.ui-dialog-title
{
	font-size: 				22px !important;
}
.ui-dialog .ui-dialog-title .ui-icone-dialog {
    float: left;
    margin-right: 4px;
    width: 28px;
	height: 28px;	
}
.ui-dialog .ui-dialog-title .ui-icone-dialog.icone-alerta
{
	width: 28px;
	height: 28px;	
	background-image: url("../img/icon_warning.png");
	background-position: 0 0 0 0 !important;
}
/*------------------------------------------------------------*/
/* 							NotÃ­cias 						  */
/*------------------------------------------------------------*/
ul.noticias
{
	width: 			100%;
	margin-top:		50px;
	padding: 		0px;
	margin-left: 	20px;
}
ul.noticias li
{
	list-style-type: 	none;
	width: 				330px;
	height: 			200px;
	float: 				left;
	margin: 			0px;
	margin-right: 		20px;
	margin-bottom: 		20px;
	padding: 			10px;
	border: 			solid 1px #DEDEDE;
}
ul.noticias li div.titulo
{
	font-size: 			16px;
	font-weight: 		bold;
	width: 				100%;
	border-bottom: 		1px dotted #DEDEDE;
	padding-bottom: 	10px;
}
ul.noticias li div.titulo span.data
{
	color: 				#FFC000;
	font-size:  		16px;
}
ul.noticias li div.descricao
{
	font-size:  		14px;
}
ul.noticias li div.vermais
{
	margin:				5px 0 0 0;
}
ul.noticias li div.vermais a
{
	
}
/*------------------------------------------------------------*/
/* 							NotÃ­cias 						  */
/*------------------------------------------------------------*/
/*------------------------------------------------------------*/
/* 							PENDENCIAS						  */
/*------------------------------------------------------------*/
.textAreaMensagem
{
	width:  	90% !important;
	height: 	100px;
}
div.conteudo-pendencias .pendenciaDescricao
{
	width:  	600px;
	height: 	150px;
}
div.conteudo-pendencias input[id=auto-para]
{
	width:  		100% !important;
	padding-left: 	0px;
	padding-right: 	0px;
}
div.conteudo-pendencias input[id=titulo]
{
	width:  		100% !important;
	padding-left: 	0px;
	padding-right: 	0px;
}
div.conteudo-pendencias label > span
{
	color: #FF000 !important;
}
#conteudo-scroll
{
	height: 		150px; 
	overflow-y: 	auto;
    overflow-x: 	hidden;
}
#carregandoAguarde 
{
  display:	none;
}
/*------------------------------------------------------------*/
/* 							PENDENCIAS						  */
/*------------------------------------------------------------*/
/*------------------------------------------------------------*/
/* 							AGENDA							  */
/*------------------------------------------------------------*/
div.page-header
{
	height: 		50px;
	border-top: 	none;
}
div.page-header h2
{
	color: 			#0E847C;
	font-size:		20px;
	padding:		0px;
	margin: 		0px;
	border: 		none;
	text-shadow: 	none;
	float-left: 	left;
	margin-top:		20px;
}
div.cal-row-head div.cal-cell1
{
	color: 			#0E847C;
	font-size: 		18px;
}
div.calendario
{
	margin-left: 	70px;
	margin-right: 	70px;
}
div.accordion-heading
{
	background: #EEE url(../img/grid_2.jpg) repeat-x;
    border: 1px solid #999;
    padding: 5px;
    font-size: 10px;
    text-align: left;
    text-transform: uppercase;
	font-size:17px;
}
div.accordion-heading a 
{
	font-size: 		20px !important;
}
div#eventosLista
{
	margin-top:		20px;
	float: 			left;
	width: 			100%;
}

/*Adicionar*/
form#formAgenda span
{
	color: 		#FF0000 !important;
}
form#formAgenda div.toolbar
{
	margin-top:		5px;	
}
form#formAgenda .agendaDescricao
{
	width:  	600px;
	height: 	150px;
}
form#formAgenda p#clientePara
{
	display: 	none;
}
form#formAgenda p#prospectPara
{
	display: 	none;
}
form#formAgenda p#diversosPara
{
	display: 	none;
}
/*Adicionar*/

/*------------------------------------------------------------*/
/* 							AGENDA							  */
/*------------------------------------------------------------*/
.absolute-alert
{
	width:		100%;
	height: 	100%;
	position: 	absolute;
	text-align: center;
	font-size: 	26px;
	margin:		0;
	padding:	0;
}
#error
{
	margin: 	60px auto;
	width: 		610px;
	text-align: center;
}
#aguarde
{
	margin: 	60px auto;
	width: 		610px;
	text-align: center;
}